
#aboutcontent {
  background: #FBFBFB;
  position: absolute;
  width: 100%;
  $height: 95%;
  height: $height;
  top: (100% - $height) / 2;
  $border-color: #C0C0C0;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
}


#aboutcontainer {
  background: #FEFEFE;
  $height: 67%;
  height: $height;
  width: 100%;
  left: 0;
  top: (100% - $height) / 2;
  position: absolute;
  $border-color: #B0B0B0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

$text-width: 80%;
$side-bar-width: (100% - $text-width) * .14;
$side-bar-color: #d0d0d0;

#aboutcontainer::before {
  content: '';
  background: $side-bar-color;
  position: absolute;
  height: 100%;
  width: $side-bar-width;
  left: 0;
}

#aboutcontainer::after {
  content: '';
  background: $side-bar-color;
  position: absolute;
  height: 100%;
  width: $side-bar-width;
  right: 0;
}

#horzbound {
  width: $text-width;
  left: (100% - $text-width) / 2;
  height: 100%;
  position: absolute;
  display: table;
}

#abouttext {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
