
#imageholder {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

#leftbar {
  left: 0%;
}

#rightbar {
 right: 0%;
}

$side-bar-width: 10%;

.sidebar {

  @include clickable();
  z-index: 5;

  position: absolute;
  top: 0%;
  height: 100%;
  width : $side-bar-width;

  font-size: 4em;
  text-shadow: 0 0 2px #FFFFFF;
  color: #808080;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#images {
  position: absolute;
  width: 100% - 2 * $side-bar-width;
  left: $side-bar-width;
  height: 100%;
  z-index: 4;
  overflow: hidden;
}
