
#borderbox {
  @include borderbox();
  z-index: 6;
  border-right: 3px solid #808080;
  border-left: 3px solid #808080;
  transform: scale(0, 0);
}

.pagecontent {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: center;
  position: absolute;
  left: 0%;
  z-index: 5;
  clip: rect(0, 0, 0, 0);
}

#page {
  position: absolute;
  height: 100%;
  width: 70%;
  left: 15%;
}

$head-height: 14%;
$foot-height: 14%;

.pagehead {
  @include unselect();
  font-size: 2.5em;
  height: $head-height;
  position: relative;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.pagefooter {
  font-size: 2em;
  height: $foot-height;
  position: absolute;
  width: 100%;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.pagefooter > .page-footer-text {
  @include clickable();
}

.bulk {
  height: 100% - $head-height - $foot-height;
  top: $head-height;
  position: absolute;
  width: 100%;
  font-family: 'Khand', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

@import 'geometries';
@import 'about';
