#menubar {
  position: absolute;
  width: 100%;
  height: 8%;
  top: 14%;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.9);
  clip: rect(0, 0, 0, 0); }

#menuborder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  z-index: 1;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  transform: scale3d(0, 0, 1); }

#menutext {
  font-size: 1.2em;
  color: #202020;
  width: 50%;
  left: 25%;
  height: 100%;
  position: relative;
  display: table; }

.menublock {
  display: table-cell;
  width: 20%;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-align: center; }

.menublock > span {
  cursor: pointer;
  cursor: hand;
  pointer-events: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

#menuline {
  position: absolute;
  background-color: #808080;
  opacity: .2;
  top: 36.5%;
  height: 27%;
  width: 100%;
  z-index: 1;
  pointer-events: none; }

#header {
  position: absolute;
  border-bottom: 3px solid black; }

#footer {
  border-top: 3px solid black;
  position: absolute;
  bottom: 0px; }

.bar {
  background-color: #FFFFFF;
  width: 100%;
  height: 20%;
  z-index: 10; }

#title {
  text-shadow: 0em 0em .05em #A0A0A0;
  line-height: .9em;
  font-size: 4.5em;
  letter-spacing: .15em;
  bottom: .24em; }

.bottomtext {
  text-shadow: 0em 0em .15em #8F8F8F;
  font-size: 1.7em;
  top: .18em;
  letter-spacing: .03em; }

#back {
  opacity: 0;
  cursor: pointer;
  cursor: hand;
  pointer-events: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: none; }

#works {
  left: 0; }

#about {
  right: 0; }

.sidetext {
  cursor: pointer;
  cursor: hand;
  pointer-events: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-weight: 300;
  font-size: 1.7em;
  text-shadow: .035em #A0A0A0;
  width: 28%;
  text-align: center;
  bottom: .2em;
  position: absolute;
  z-index: 1; }

.centertext {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  left: 25%;
  font-weight: 300;
  text-align: center;
  width: 50%;
  position: absolute; }

#borderbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  z-index: 6;
  border-right: 3px solid #808080;
  border-left: 3px solid #808080;
  transform: scale3d(0, 0, 1); }

.pagecontent {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: center;
  position: absolute;
  left: 0%;
  z-index: 5;
  clip: rect(0, 0, 0, 0); }

#page {
  position: absolute;
  height: 100%;
  width: 70%;
  left: 15%; }

.pagehead {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 2.5em;
  height: 14%;
  position: relative;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5; }

.pagefooter {
  font-size: 2em;
  height: 14%;
  position: absolute;
  width: 100%;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5; }

.pagefooter > .page-footer-text {
  cursor: pointer;
  cursor: hand;
  pointer-events: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

.bulk {
  height: 72%;
  top: 14%;
  position: absolute;
  width: 100%;
  font-family: 'Khand', sans-serif;
  font-weight: 300;
  font-size: 1.2em; }

#imageholder {
  max-height: 100%;
  max-width: 100%;
  width: auto; }

#leftbar {
  left: 0%; }

#rightbar {
  right: 0%; }

.sidebar {
  cursor: pointer;
  cursor: hand;
  pointer-events: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 5;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 10%;
  font-size: 4em;
  text-shadow: 0 0 2px #FFFFFF;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center; }

#images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: hidden; }

#aboutcontent {
  background: #FBFBFB;
  position: absolute;
  width: 100%;
  height: 90%;
  top: 5%;
  border-top: 2px solid #C0C0C0;
  border-bottom: 2px solid #C0C0C0; }

#aboutcontainer {
  background: #FEFEFE;
  height: 55%;
  width: 100%;
  left: 0;
  top: 22.5%;
  position: absolute;
  border-top: 1px solid #B0B0B0;
  border-bottom: 1px solid #B0B0B0; }

#aboutcontainer::before {
  content: '';
  background: #d0d0d0;
  position: absolute;
  height: 100%;
  width: 2.8%;
  left: 0; }

#aboutcontainer::after {
  content: '';
  background: #d0d0d0;
  position: absolute;
  height: 100%;
  width: 2.8%;
  right: 0; }

#horzbound {
  width: 80%;
  left: 10%;
  height: 100%;
  position: absolute;
  display: table; }

#abouttext {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.stripe::before {
  left: 0;
  content: '';
  position: absolute;
  background-color: #B0B0B0;
  opacity: .1;
  bottom: 37%;
  height: 18%;
  width: 100%;
  z-index: 1;
  pointer-events: none; }

#foreground {
  z-index: 10;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

#sketchpad {
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0; }

#bulkstripe {
  width: 100%;
  height: 60%;
  top: 20%;
  position: absolute; }

#defaultCanvas {
  position: absolute;
  top: 0; }

#displayframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

#sketchspot {
  pointer-events: none;
  position: absolute;
  height: 80%;
  width: 100%;
  top: 10%;
  z-index: 2; }

html, body {
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px; }

a {
  color: black;
  outline: none; }

/*# sourceMappingURL=sitestyle.css.map */
